.main-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: auto;
}

.cards-row {
  overflow-x: auto;
  margin: 0;
  max-height: 40vh;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--primary);
}

.card:hover {
  box-shadow: none;
  transform: none;
}

.player-card {
  width: 250px;
}

.actions {
  display: block;
  overflow:auto;
}

.command {
  z-index: 300;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#command-input {
  flex: 1 1 auto;
}

button {
  margin: 0;
}


.chatLog {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;
}

.logHeader {
  background-color: #9fb6cd;
  border-bottom: .2vw solid #555;
}
.log {
  overflow-y: auto;
  scroll-snap-type: y proximity;
  padding: 10px;
  flex: 1 1 auto;
}


#help-button {
  position: fixed;
  top: 0px;
  right: 0px;
}


.input-field {
  padding: 0.25vh;
  font-size: 2rem;
}

.large-font {
  font-size: 2rem;
}
.error-msg {
  font-size: 2.5vh;
  height: 3vh;
  margin: 1vh 0 0;
}

label {
  font-size: 1.2rem;
}
