.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  float: left;
  margin: 10px;
  width: 250px;
  padding: 16px;
}
.card.active {
  border: 2px solid;
}
.main-container {
  padding: 50px;
  display: block;
}

.actions {
  display: block;
  /* width: 100%; */
  /* position: absolute; */
  /* bottom: 20px; */
  overflow:auto;
}
.chatLog {
  position: absolute;
  bottom: 30px;
  right: 30px;
  margin: 5px;
  width: 25%;
  border: .2vw solid #555;
}

.logHeader {
  background-color: #9fb6cd;
  border-bottom: .2vw solid #555;
}
.log {
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  padding: 10px;
  height: 50vh;
}
